.homePage__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.homePage_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.homePage__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.homePage__title h3, .homePage__title h4 {
  text-align: center;
}

.homePage__text{
  width: 100%;
}

.personal-info {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.personal-info td {
  padding: 8px;
  text-align: left;
  font-weight: 400;
}

.personal-info td strong {
  font-weight: bold;
}
